mods/observable-3.3.1.jar
config/oculus.properties
config/rubidium-options.json
TempOptifineStore-1.0.json
TlauncherProfiles.json
TrashSlotSaveState.json
options.txt
optionsof.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json
worlds.json

TESTDIR/
.mixin.out/
assets/
crash-reports/
journeymap/
libraries/
local/
localconfigs/
defaultconfigs/
logs/
modernfix/
resourcepacks/
resources/
runtime/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
tlauncher_libraries/
versions/
config/jei/world/
config/forgeendertech/cached.dat
config/byg/backups/last_working_configs_backup.zip
mods/tl_skin_cape_forge_1.19_1.19.2-1.30.jar
config/jei/world/server/Nikita_65516964/bookmarks.ini
