TESTDIR/
.mixin.out/
assets/
journeymap/
libraries/
local/
localconfigs/
logs/
modernfix/
resourcepacks/
resources/
runtime/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
tlauncher_libraries/
versions/
options.txt
optionsof.txt
servers.dat
servers.dat_old
TempOptifineStore-1.0.json
TlauncherProfiles.json
TrashSlotSaveState.json
usercache.json
usernamecache.json
worlds.json